# Ignore markup that skews stats
*.html linguist-vendored=true
*.css linguist-vendored=true

# Disable TeX detection (even if misclassified)
*.tex linguist-detectable=false

# Force correct classification
*.md linguist-language=Markdown
*.py linguist-language=Python

# Ignore assets
*.jpg linguist-generated=true
*.png linguist-generated=true
*.jpeg linguist-generated=true

# Ignore build folders
dist/** linguist-generated=true
build/** linguist-generated=true