# =========================
# GitHub Linguist Config
# =========================

# Ignore TeX files in language statistics
*.tex linguist-detectable=false
*.tex linguist-vendored=true

# Ignore markup/style files that may skew language stats
*.html linguist-vendored=true
*.css linguist-vendored=true