# Ignore markup that skews stats
*.html linguist-vendored=true
*.css linguist-vendored=true

# Kill false positives
*.tex linguist-detectable=false
*.txt linguist-detectable=false

# Force correct languages
*.md linguist-language=Markdown
*.py linguist-language=Python

# Ignore assets
*.jpg linguist-generated=true
*.png linguist-generated=true
*.jpeg linguist-generated=true

# Ignore build folders
dist/** linguist-generated=true
build/** linguist-generated=true

# 🔥 MAIN FIX: ignore web fundamentals folder
web-fundamentals/** linguist-vendored=true